.category-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.category-card {
  font-family: "Poppins", sans-serif;
  width: 250px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
  border-radius: 15px;
  transition: transform 0.6s ease-in-out;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.card-front {
  background: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-back {
  background: #ffffff;
  color: #333;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.category-icon {
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}

.category-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.question-text,
.answer-text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.play-btn {
  margin-top: 10px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  background: #ff5a5f;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, background 0.2s;

  &:hover {
    transform: scale(1.1);
    background: #d04a50;
  }
}
